# Portfolio EDA

Performs exploratory data analysis on the data scraped from the API.

In [1]:
import os
import plotly.express as px
import pandas as pd
import numpy as np

### Load Portfolio Data

Load the data, convert the date column to a datetime column, and set datetime as the index.

In [5]:
stocks_adj_close_filename = os.path.join("output", "stocks_adj_close.csv")
stocks_adj_close_df = pd.read_csv(stocks_adj_close_filename)
stocks_adj_close_df["datetime"] = pd.to_datetime(stocks_adj_close_df["date"], format='%Y-%m-%dT%H:%M:%S%z')
stocks_adj_close_df.drop("date", axis=1, inplace=True)
stocks_adj_close_df.set_index("datetime", inplace=True)
stocks_adj_close_df

,AAPL,AMZN,GOOG,MSFT,NVDA,TSLA
datetime,,,,,,
2015-04-01 00:00:00+00:00,114.025919,370.255,27.0537,36.618003,0.5063,187.59
2015-04-02 00:00:00+00:00,115.007873,372.250,26.7032,36.231320,0.5075,191.00
2015-04-06 00:00:00+00:00,116.870832,377.040,26.7647,37.359895,0.5221,203.10
2015-04-07 00:00:00+00:00,115.641095,374.410,26.7775,37.346406,0.5268,203.25
2015-04-08 00:00:00+00:00,115.264833,381.200,27.0063,37.247487,0.5306,207.67
...,...,...,...,...,...,...
2025-03-06 00:00:00+00:00,235.330000,200.700,174.2100,396.890000,110.5700,263.45
2025-03-07 00:00:00+00:00,239.070000,199.250,175.5500,393.310000,112.6900,262.67
2025-03-10 00:00:00+00:00,227.480000,194.540,167.8100,380.160000,106.9800,222.15
2025-03-11 00:00:00+00:00,220.840000,196.590,165.9800,380.450000,108.7500,230.58
2025-03-12 00:00:00+00:00,216.980000,198.890,169.0000,383.270000,115.7400,248.09

In [6]:
stocks_adj_close_df.loc["2015-04-01T00:00:00+0000", :]

AAPL    114.025919
AMZN    370.255000
GOOG     27.053700
MSFT     36.618003
NVDA      0.506300
TSLA    187.590000
Name: 2015-04-01 00:00:00+00:00, dtype: float64